.movie {
  overflow: hidden;
  position: relative;
}

.movie-body {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  bottom: -1000px;
  transition: 0.5s ease;
  overflow-y: scroll;
  height: 100%;
  padding: 15px 7px;
}

.show-movie-body {
  bottom: 0px;
}
